@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #003B73;
    --first-color-light: #BFD7ED;
    --button-color: rgb(137, 171, 215);
    --first-color-light-highlight: #74b4ef;
    --white-color: #F7F6FB;
    --body-font: 'Dongle', sans-serif;
    --normal-font-size: 23px;
    --z-fixed: 100
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}


.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}



.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 1rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 0rem;
    transition: 0.3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

#row_dashboard {
    padding: 2rem 0rem;
}
.card_dashboard {
    padding: 4rem 1rem;
    color: var(--first-color-light);
    background-color: var(--first-color);
}

.card_dashboard:hover {
    box-shadow: 10px 10px 5px rgb(192, 192, 192);
    color: var(--white-color);
    transition: 0.3s
}

.card_icon {
    font-size: 3rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 3rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.btn {
    background-color: var(--first-color-light);
    border-color: var(--first-color-light);
}

.btn:hover {
    background-color: var(--first-color-light-highlight);
    border-color: var(--first-color-light-highlight);
}
.height-100 {
    height: 100vh
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */  
#googleMap {
    /* fix height to put in container */
    height: 580px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 230px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 260px)
    }

}
